@use "variables";

:root {
  --theme-neu-light: #fafafa;
  --theme-neu-dark: #525252;
  --theme-light: $gray-100;
  --theme-dark: $gray-900;
  --theme-customize-color: rgb(254, 223, 169, 1);
  --neu-light-shadow-num: 255, 255, 194;
  --neu-light-shadow: rgb(var(--neu-light-shadow-num));
  --neu-dark-shadow: #d8be90;
  // --theme-high-contrast:
  --neu-font-color: #3c095a;
  --neu-border-color: #ebce9c;

  // neu shadow
  --shadow-size-xs: 0.1rem;
  --shadow-blur-xs: 0.2rem;
  --shadow-size-sm: 0.2rem;
  --shadow-blur-sm: 0.3rem;
  --shadow-size-normal: 0.35rem;
  --shadow-blur-normal: 0.5rem;
  --shadow-size-lg: 0.6rem;
  --shadow-blur-lg: 1rem;
}

.body-content {
  max-height: 100vh;
  width: 100vw;
  text-align: center;
  color: var(--neu-font-color);
  transition: background-color 0.618s;
  overflow: hidden;
}

.neu-light {
  background: var(--theme-customize-color);
}

.neu-dark {
  background: var(--theme-dark);
}

.light {
  background: variables.$light;
}

.dark {
  background: variables.$dark;
}
