@use "variables";

:root {
  --theme-neu-light: #fafafa;
  --theme-neu-dark: #525252;
  --theme-light: $gray-100;
  --theme-dark: $gray-900;
  --theme-color-r: 254;
  --theme-color-g: 223;
  --theme-color-b: 168;
  --theme-customize-color: rgba(
    var(--theme-color-r),
    var(--theme-color-g),
    var(--theme-color-b),
    1
  );
  --neu-light-shadow-num: 255, 255, 194;
  --neu-light-shadow: rgb(var(--neu-light-shadow-num));
  --neu-dark-shadow: rgb(216, 190, 144);
  // --theme-high-contrast:
  --neu-font-color: #3c095a;
  --neu-border-color: hsl(38, 66%, 65%);

  // neu shadow
  --shadow-size-xs: 0.1rem;
  --shadow-blur-xs: 0.2rem;
  --shadow-size-sm: 0.2rem;
  --shadow-blur-sm: 0.3rem;
  --shadow-size-normal: 0.35rem;
  --shadow-blur-normal: 0.5rem;
  --shadow-size-lg: 0.6rem;
  --shadow-blur-lg: 1rem;
}

.body-content {
  width: 100vw;
  color: var(--neu-font-color);
  transition: background-color 0.618s;
}

.neu-light {
  background: var(--theme-customize-color);
}

.neu-dark {
  background: var(--theme-dark);
}

.light {
  background: variables.$light;
}

.dark {
  background: variables.$dark;
}

.hide-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
