@use "variables";

:root {
  --theme-customize-color1: rgba(254, 223, 168, 1);
  --color-shadow-light1: rgb(255, 255, 194);
  --color-shadow-dark1: rgb(216, 190, 144);
  --theme-high-contrast: 


  // neu shadow
    --shadow-size-xs: 0.1rem;
  --shadow-blur-xs: 0.2rem;
  --shadow-size-sm: 0.25rem;
  --shadow-blur-sm: 0.4rem;
  --shadow-size-normal: 0.35rem;
  --shadow-blur-normal: 0.55rem;
  --shadow-size-lg: 0.6rem;
  --shadow-blur-lg: 1rem;
}

.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
  transition:
    background-color 1236ms ease,
    color 1236ms ease,
    border-color 1236ms ease,
    fill 1236ms ease,
    box-shadow 1236ms ease,
    stroke 1236ms ease;
}

body {
  width: 100vw;
  color: var(---color-font);
  background: var(--color-bg);
  transition: background-color 0.618s;
  border-color: var(--color-border);
  & * {
    // background-color: inherit;
    transition: background-color 0.618s;
  }
}

[data-theme="dark"] {
  --color-bg: #212121;
  --color-font: #b3b3b3;
  --color-shadow-light: #404040;
  --color-shadow-dark: #121212;
  --color-border: #000000;
}

[data-theme="high-contrast"] {
  --theme-customize-color: black;
}

[data-theme="sugar"] {
  --color-bg: #f0cfd0;
  --color-surface: #c47f82;
  --color-font: #09060a;
  --color-font-light: #09060a;
  --color-font-dark: #ffffff;

  --color-shadow-light: #ffeeef;
  --color-shadow-dark: #ccb0b1;

  /* === Text === */
  --color-text: #09060a;
  --color-text-muted: #09060a;
  --color-text-invert: #09060a;

  /* === Brand / Action === */
  --color-primary: #2d3653;
  --color-primary-hover: #796a92;
  --color-danger: #9c2f12;
  --color-danger-hover: #ce3e2b;
  --color-success: #589d13;
  --color-success-hover: #589d13;
  --color-warning: #febd5d;
  --color-warning-hover: #febd5d;
  --color-warning: #2697d0;
  --color-warning-hover: #2697d0;

  /* === Border === */
  --color-border: #c47f82;
}

[data-theme="sunshine"] {
  --color-bg: rgba(254, 223, 168, 1);
  --color-font: rgb(60, 9, 90);
  /* --color-border: rgb(79, 51, 3); */
  --color-border: rgb(216, 190, 144);

  --color-shadow-light: rgb(255, 255, 194);
  --color-shadow-dark: rgb(216, 190, 144);

  /* === Text === */
  --color-text: 226 232 240;
  --color-text-muted: 148 163 184;
  --color-text-invert: 15 23 42;

  /* === Brand / Action === */
  --color-primary: #046582;
  --color-primary-hover: #046582;
  --color-danger: #9c2f12;
  --color-danger-hover: #ce3e2b;
  --color-success: #589d13;
  --color-success-hover: #589d13;
  --color-warning: #febd5d;
  --color-warning-hover: #febd5d;
  --color-warning: #2697d0;
  --color-warning-hover: #2697d0;

  /* === Border === */
}

.hide-scrollbar {
  overflow: scroll;

  scrollbar-width: none;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}
