@use "sass:color";

@mixin button-size($padding-x, $padding-y, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $color,
  // $hover-background: lighten($background, 10%),
  $hover-background: color.adjust($background, $lightness: 10%),
  $hover-color: $color,
  // $active-color: darken($background, 10%),
  $active-color: color.adjust($background, $lightness: -10%)
) {
  color: $color;
  background: $background;
  outline: none;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
  &:active,
  &.active {
    color: $active-color;
    background: $hover-background;
  }
  &.disabled,
  &:disabled {
    color: $color;
    background: $background;
  }
}

@mixin neu-button-style(
  $background,
  $color,
  $hover-background: color.adjust($background, $lightness: 5%),
  // $hover-background: darken($background, 5%),
  $hover-color: $color,
  $active-background: color.adjust($background, $lightness: -5%) // $active-background: darken($background, 10%)
) {
  color: $color;
  background-color: $background;
  outline: none;
  &:not(:disabled):hover,
  &:not([disabled])[hover] {
    background-color: $hover-background;
    color: $hover-color;
  }
  &:not(:disabled):active,
  &:not([disabled])[active] {
    // color: $active-color;
    background-color: $active-background;
  }
  &.disabled,
  &:disabled {
    color: $color;
    background-color: $background;
  }
}

@mixin neu-button-theme($shadow-size, $shadow-blur, $shadow-color) {
  &:active {
    box-shadow: none;
  }
}

@mixin neu-progress-bar-theme($background) {
  background: $background;
}
