.layout {
  height: 100vh;
}

/* 左侧栏 */
.left-side-bar {
  width: 250px;
  flex-shrink: 0;
}

/* 中间内容区 */
.content {
  width: 700px;
}

/* 右侧栏 */
.right-side-bar {
  width: 250px;
  flex-shrink: 0;
}

@media (max-width: 1400px) {
  .right-side-bar {
    display: none;
  }
}
@media (max-width: 1000px) {
  .left-side-bar {
    display: none;
  }
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    min-width: 300px;
  }
}
