@use "../../styles/variables";

@each $key, $val in variables.$theme-colors {
  .icon-#{$key} {
    color: $val;
  }
}

.icon-neon-cat {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 2px #00ffff;
  & > span {
    color: var(--neu-font-color);
  }
}

.neon-light {
  color: var(--theme-customize-color);
  animation: colorFlash 5s infinite ease-in-out;
  scale: 120%;
}
$neon-light-blur: 2px;
$neon-light-size: 3px;
$neon-light-reverse-size: -1 * $neon-light-size;
$neon-light-shadow-size: 1px;

@keyframes colorFlash {
  0% {
    filter: drop-shadow(
        $neon-light-size $neon-light-size $neon-light-blur #ff00ff
      )
      drop-shadow(
        $neon-light-reverse-size $neon-light-reverse-size $neon-light-blur
          #00ffff
      );
  }
  20% {
    filter: drop-shadow(2px 2px 2px #00ffff) drop-shadow(-2px -2px 2px #8a2be2);
  }
  30% {
    filter: drop-shadow(
        $neon-light-size $neon-light-size $neon-light-blur #5d00ff
      )
      drop-shadow(
        $neon-light-reverse-size $neon-light-reverse-size $neon-light-blur
          #ea00ff
      );
  }
  31% {
    filter: drop-shadow(
        $neon-light-size $neon-light-size $neon-light-blur #00ced1
      )
      drop-shadow(
        $neon-light-reverse-size $neon-light-reverse-size $neon-light-blur
          #00ffff
      );
  }
  32% {
    filter: drop-shadow(
        $neon-light-size $neon-light-size $neon-light-blur #5d00ff
      )
      drop-shadow(
        $neon-light-reverse-size $neon-light-reverse-size $neon-light-blur
          #ea00ff
      );
  }
  60% {
    filter: drop-shadow(
        $neon-light-size $neon-light-size $neon-light-blur #00ced1
      )
      drop-shadow(
        $neon-light-reverse-size $neon-light-reverse-size $neon-light-blur
          #5d00ff
      );
  }
  100% {
    filter: drop-shadow(
        $neon-light-size $neon-light-size $neon-light-blur #8a2be2
      )
      drop-shadow(
        $neon-light-reverse-size $neon-light-reverse-size $neon-light-blur
          #ff00ff
      );
  }
}
