@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --theme-background-light: #ffffff;
  --theme-background-dark: #000000;
  --theme-background-common-color: rgb(254, 223, 169, 1);

  --theme-neu-light: #fafafa;
  --theme-neu-dark: #525252;
  --theme-light: #ffffff;
  --theme-dark: #000000;
  --theme-customize-color: rgb(254, 223, 169, 1);
  --neu-light-shadow-num: 255, 255, 194;
  --neu-light-shadow: rgb(var(--neu-light-shadow-num));
  --neu-dark-shadow: #d8be90;

  /* --theme-high-contrast: */
  --neu-font-color: #3c095a;
  --neu-border-color: #ebce9c;

  /* neu shadow */
  --shadow-size-xs: 0.1rem;
  --shadow-blur-xs: 0.2rem;
  --shadow-size-sm: 0.2rem;
  --shadow-blur-sm: 0.3rem;
  --shadow-size-normal: 0.4rem;
  --shadow-blur-normal: 0.6rem;
  --shadow-size-lg: 0.6rem;
  --shadow-blur-lg: 1rem;
}

.neu-light {
  background: var(--theme-background-common-color);
}

.neu-dark {
  background: var(--theme-dark);
}

.light {
  background: var(--theme-background-light);
}

.dark {
  background: var(--theme-background-dark);
}
