// .navbar-container {
//   margin-top: 0;
//   margin-right: 0;
//   margin-left: 0;

//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
// }

// .navbar-left-slot,
// .navbar-right-slot {
//   width: 20vw;
//   padding: 0.3rem 1rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   & > * {
//     height: 2.5rem;
//   }
// }

// .navbar-navigator {
//   margin: 0;
//   padding: 0;
//   flex-grow: 1;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;

//   & * {
//     padding: 0;
//   }
// }

.navbar-link {
  color: var(--neu-font-color);
  &:hover {
    text-decoration: none;
    scale: 103%;
  }
}
