@use "../../styles/neu";

.neu-embossed-normal {
  @include neu.neu-embossed-normal;
}

.neu-embossed-sm {
  @include neu.neu-embossed-sm;
}

.neu-raised-sm {
  @include neu.neu-flat;
  &:hover {
    @include neu.neu-embossed-sm;
    scale: 100.5%;
  }
}

.neu-raised-normal {
  // @include neu-embossed-lg;
  @include neu.neu-flat;
  &:hover {
    @include neu.neu-embossed-normal;
    scale: 101%;
  }
}

.neu-debossed-normal {
  @include neu.neu-debossed-normal;
}

.neu-debossed-sm {
  @include neu.neu-debossed-sm;
}

.neu-recessed-normal {
  @include neu.neu-flat;
  &:hover {
    @include neu.neu-debossed-normal;
    scale: 99%;
  }
}
